<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
        }          

    </style>
</head>
<body style="background-color: aqua;">
    <center>
        <h1>I want job. </h1>
        <h1>Any job vacancy are there in your Company...??</h1>
        <button style="background-color: green; border-radius:5px; "><h2 ><a href="{% url 'app2:response' %}" style="text-decoration:none;">response of friend</a></h2></button>
    </center>
</body>
</html>